body {
    color: #ff009f;
}

h1 {
    color: white;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	font-size: 35px;
}

h2 {
    color: white;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	font-size: 30px;
}